
# lesson_1/*solution*.ipynb
lesson_1/*master*.ipynb

lesson_2/*solution*.ipynb
lesson_2/*master*.ipynb

lesson_3/*solution*.ipynb
lesson_3/*master*.ipynb

lesson_4/*solution*.ipynb
lesson_4/*master*.ipynb

lesson_5/*solution*.ipynb
lesson_5/*master*.ipynb

lesson_6/*solution*.ipynb
lesson_6/*master*.ipynb
